
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/

.logo-mps-anous {
  width: 300px;
  height: auto;
  margin-left: 33%;
  margin-right: auto;
  opacity: 0.42;
}
