
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/

body{
  //background: linear-gradient(to bottom, #808080 0%, #000000 100%) fixed;
  background:  url(https://images3.alphacoders.com/264/264405.jpg);
}
.content{
background: #FC0101;
background: -webkit-radial-gradient(top, #FC0101, #000000);
background: -moz-radial-gradient(top, #FC0101, #000000);
background: radial-gradient(to bottom, #FC0101, #000000);

}
.up{
  color: black;
  font-size: 30px;
  font-family: 'Shojumaru', cursive;
  text-shadow: orange 1px 0 10px;
}
p{
  color:black;
  font-family: 'Shojumaru', cursive;
  font-size:15px;
  text-align: center;
}
.ideaBox{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.firstcad{
    background: rgba(0,0,0,0.7);
    color:#8B0000;

}
.scdcad{
  background: rgba(0,0,0,0.7);
  color:#8B0000;
}
.newButton{
  background: black;
  border-color: black;
  color: darkred;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  float: right;
  margin-top:-12px;

}
.displayHeading{
  color:black;
  font-family: 'Shojumaru', cursive;
  border-radius: 12px;
  background: #FC0101;
  background: radial-gradient(#FC0101, #000000);
  border-color: black;
}
